<h2>Show category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Image:</strong>
    <img src="/<%= Aknascake.Banner.url({@category.image, @category}, :original) %>" />
  </li>

  <li>
    <strong>Description:</strong>
    <%= @category.description %>
  </li>

</ul>

<%= link "Edit", to: category_path(@conn, :edit, @category) %>
<%= link "Back", to: category_path(@conn, :index) %>
